

<div>
  <h2>Login</h2>

 
 

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-item">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-item">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div id="div_bt"> 
               <button type="submit" class="btn btn-dark">Login</button>
            </div> 
 
          </form>
                    
 
</div>


